.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  max-height: 324px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-bounce 3s infinite ease-in-out, App-fadein linear 1s;
  }
  .App-header p {
    animation: App-fadein linear 1s;
  }
}

.App-header {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #151718;
}

@keyframes App-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes App-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
